/* Document Details */

 #char-grid {
     display: grid;
     height: 20vh;
     align-content: center;
     grid-template-columns: auto auto auto auto auto auto auto auto;
 }

 .grid-item {
    padding: 0;
    border: 0.5px solid  #5f889e;
    background-color: white;
    cursor: pointer;
 }

.grid-clicked{
    background-color: #5f889e;
    color: white;
    font-weight: bold;
 }

body {
    min-width: 800px;
}
main {
    height: 90vh;
    font-family: 'Darker Grotesque', sans-serif;
    text-align: center;
    margin: 3% 5%;
    margin-bottom: 15%;

}

@keyframes flashIn {
    0% {
        opacity: 0;
        z-index: 0;
        display: none;
    }

    30% {
        opacity: 1;
        z-index: 3;
        display: ""
    }

    100% {
        opacity: 0;
        z-index: 0;
        display: none;
    }
}

#copied {
    width: 100%;
    height: 100%;
    opacity: 0;
    color: #5f889e;
    background-color: white;
}
.animate {
    animation-name: flashIn;
    animation-duration: 1.7s;
    animation-iteration-count: 1;
}

#copied p {
    font-size: 60px;
    font-weight: bolder;
    margin-top: 15vh;
}

/* General Styling */
h2{
    margin: 0;
    padding: 0;
}

h3 {
    margin: 4% 0;
}

p{
    margin: 0.5vw;
}
a:link {
    text-decoration: none;
    color: #5f889e;
}

a:hover {
    text-decoration: none;
    color: #43606f;
}

i {
    display: inline-block;
    position: absolute;
}

input[type="text"], input[type="email"], input[type="password"] {
    font-family: 'Darker Grotesque', sans-serif;
    text-align: center;
    outline: none;
    font-size: 15px;
    color: black;
    padding: 3%;
    border: none;
    width: 60%;
    border-bottom: 1px solid #DCCBCF;
    -webkit-appearance: none;
    margin-bottom: 30px;
    background: transparent;
}


.center {
    margin: 0;
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.error {
    font-size: 15px;
    color: red;
}


.clearfix {
    overflow: auto;
}

[hidden]{
    display:none;
    visibility: hidden;
}

/* Buttons */
button, input[type='submit']{
    border: 1px solid #5f889e;
    background-color: white;
    box-shadow: 2px 3px #43606f;
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 15px;
    font-weight: bolder;
    color: #5f889e;
    padding: 1% 5%;
    margin: 3% 2%;
}

button:hover, input[type='submit']:hover {
    background-color: #5f889e;
    color: white;

}

#delete-website-div {
    display: inline;
    margin-bottom: 5%;
}
.icon-button {
    display: inline;
    font-size: 14px;
    padding: 0.8% 4% 0.8% 3%;
    margin: 1% 3% 3% 3%;
}

.icon-button i {
    position: relative;
    left: 7%;
}

input[type="submit"].small, button.small {
    padding: 0% 3% 0.5%;
    font-size: 15px;
}

/* Placement of Back Buttons */
.back {
    font-size: 13px;
    padding: 3px 12px; 
    padding-left: 3%;
    position: relative;
    bottom: 10vh;
    right: 18vw;
    margin: 0;
}

.back i {
    position: relative;
    right: 6.5%;
    top: 1px;
}


/* HEADER */

/* Logo */
#key-icon {
    position: absolute;
    top: 50px;
    left: 0;
    width: 10%;
    height: 10%;
    padding-left: 5%;
    font-size: 5em;
    color: #5f889e;
}

/* User Container */

#user-container {
    top: 45px;
    padding: 20px;
    width: 30vw;
    height: 50vw;
    right: 0;
    position: absolute;
}

#websites-link {
    margin: 0;
    cursor: pointer;
    padding-right: 40%;
    font-size: 1.5em;
    font-weight: bolder;
}

#user-icon {
    position: absolute;
    top: 27px;
    right: 25%;
    cursor: pointer;
    font-size: 25px;
}

.clicked {
    color: #5f889e;
    font-weight: 900;
}

#up {
    position: absolute;
    right: 27%;
    top: 69px;
    cursor: pointer;
    color: #5f889e;
    z-index: 2;
    background-color: white;
}

#user-display {
    right: 20%;
    top: 77px;
    position: absolute;
    width: 70%;
    z-index: 1;
    border-style: solid;
    border-color: #5f889e;
    border-width: 2px;
    background-color: white;
}

#user-display-content {
    width: auto;
    margin: 15%;
    background-color: white;
    position: relative;
    z-index: 1;
}

#user-display-content p {
    margin: 0px;
    visibility: inherit;
}

#user-name {
    font-size: 20px;
    font-weight: bold;
}

#user-email {
    font-size: 12px;
}

#user-display button {
    visibility: inherit;
    margin-bottom: 10%;
}

/* LOGIN */

/* The Modal (background) */
.modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

#modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 40px;
    border: 1px solid #888;
    width: 50%;
    height: 60%;
    font-size: 25px;
}
.modal h3 {
    margin-bottom: 3%;
}

#sign-up-form input {
    text-align: left;
    font-size: 18px;
    margin: 1%;
    width: 70%;
}
input[type="password"] {
    font-family: sans-serif;
}

input[type="password"]::-webkit-input-placeholder {
font-family: 'Darker Grotesque', sans-serif;
}

input[type="password"]:-ms-input-placeholder {
font-family: 'Darker Grotesque', sans-serif;
}

input[type="password"]:-moz-placeholder {
font-family: 'Darker Grotesque', sans-serif;
}

input[type="password"]::-moz-placeholder {
font-family: 'Darker Grotesque', sans-serif;
}

#sign-up-form input[type="submit"] {
    width: 40%;
    text-align: center;
    font-size: 18px;
    margin-top: 5%;
    padding: 1% 0%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* Login form inputs */

#login-content h2 {
    margin: 4%;
}

#login-content h2 {
    margin: 2%;
}

.form-input input {
    width: 80%;
    text-align: left;
    font-size: 19px;
    padding: 7%;
    margin: 0;
}

.form-input i {
    left: 84px;
    bottom: 35px;
    position: relative;
    color: #5f889e;
}

#signup-link {
    color: #5f889e;
    font-weight: bold;
    display: inline;
    cursor: pointer;
}


/* MAIN CONTENT */

#main-content {
    position: relative;
    top: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
}

/* Websites Display */
#websites-display {
    flex-grow: 1;
    visibility: inherit;
    padding: 0 5%;
}

/* List of websites */
#website-list {
    padding: 0;
}

#website-list li {
    padding: 10%;
    border-bottom: 1px solid #5f889e;
    cursor: pointer;
    list-style: none;
}

#website-list li i {
    color: #5f889e;
    position: relative;
    left: 38%;
    top: 4px;
    font-size: 1.3em;
}

/* Button to create new website */
#new-website-button {
    padding: 5%;
    margin-top: 15%;
}

/* Search Bar */
#search-input {
    border: 1px solid #ddd;
    text-align: left;
    padding: 5% 10% 5% 20%;
    margin: 0;
    margin-top: 10%;
}

#search-form i {
    position: relative;
    left: 15%;
    color: #5f889e;
}



/* Website Details Display */
#web-details {
    flex-grow: 8;
    visibility: inherit;
    margin: 2% 5%;
}

/* Website Display */
.website-link {
    margin: 3% 0;
}

#main-details h2 {
    margin-top: 6%;
}

#delete-website-button {
    margin-bottom: 10%;
}

#account-container {
    margin-top: 7%;
}

#go {
    position: relative;
    right: 2vw;
}

#create-button {
    margin-top: 7%;
}

#account-select {
    font-size: 15px;
    font-family: 'Darker Grotesque', sans-serif;
    display: inline-block;
    margin: 1vh 2vw 3vh 5vw;
    width: 28vw;
    background-color: transparent;
    position: relative;
    right: 1.3vw;
    cursor: pointer;
    border-radius: 0;
}

/* Account Details */
#sub-display-top, #sub-display-bottom{
    position: relative;
    bottom: 4vh;
}


#account-username {
    display: inline;
}

.bold {
    display: inline;
    font-size: 20px;
    font-weight: bolder;
    color: #5f889e;

}


#sub-display-bottom h3 {
    margin: 1vh 0;
}

#new-keys-button, #delete-account-button {
    margin-top: 5vh;
}




